@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #EDB77D;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.wrapper {
    background-color: #111111;
    color: #FFFFF8;
    display: flex;
    border-radius: 10px;
    margin: 20px auto;
    width: 70%;
}

.image {
    flex-basis: 60%;
}

form {
    flex-basis: 40%;
    padding: 80px;
}

input {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-size: 1em;
    background-color: transparent;
    color: #FFFFE9;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #FFFFE9;
}

button {
    color: #FFFFE9;
    background-color: #EDB77D;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 1.5em;
    margin-top: 50px;
}