@media all and (max-width: 768px) {
    
    .gallery {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 100%;
    }

        .gallery div {
            width: 100%;
        }

        main > .inner {
            width: 100%;
            max-width: 90%;
            margin: auto;
        }

    .wrapper.style2 {
        padding: 0;
    }

    .spotlight {
        flex-direction: column;
    }

    .spotlight > * {
        width: 100%;
    }
}
