body {
    display: flex;
    background-color: #EEEEEE;
    width: 80%;
    margin: auto;
    
}

.gallery {
    display: flex;
}

    .gallery ul {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }



li {
    display: flex;
    padding: 10px;
    border: 5px solid black;
    min-width: 50px;
    width: 20%;
    height: 30%;
    margin: 5%;
}

img {
    width: 100%;
    object-fit: contain;
}