@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
html{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body
{

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 30px 100px;
}

.logo {
    display: inline-block;
}

.logo-text {
    margin-top: 20px;
    font-size: 0.8em;
    padding-left: 10px;
    display: inline-block;
}

.logo-title {
    font-size: 2em;
    padding-right: 10px;
    border-right: 2px solid grey;
    display: inline-block;
}

.nav-list{
    display: flex;
}

    .nav-list li {
        list-style-type: none;
        margin-right: 20px;
        margin-left: 20px;
    }

        .nav-list li a {
            text-decoration: none;
            color: black;
        }
            .nav-list li a:hover {
                background-color: #E24E2A;
                padding: 20px;
                color: white;
            }
.hero {
    height: 200px;
}

img {
    
    height: 100%;
}